.project-container {
  // border: 1px red solid;
  height: 400px;
  width: 250%;
  display: flex;
  // justify-content: space-around;
  align-items: center;

}
.projectImages {
  height: 300px;
  width: 400px;
  // border: 1px yellow solid;
  margin: 10px;
}
h3 {
  font-size: 40px;
  font-family: 'Coolvetica';
  color: skyblue;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: 110%;


}
