.project-container {
  // border: 1px red solid;
  height: 400px;
  width: 250%;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  margin-bottom: -50px;

}
.projectImages {
  height: 300px;
  width: 400px;
  // border: 1px yellow solid;
  margin: 10px;
}
h3 {
  font-size: 40px;
  font-family: 'Coolvetica';
  color: skyblue;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: 100%;
}
.titles{
  margin-bottom: 3%;
}
.title1 {
  position: relative;
  color: #fff;
  left: 23%;
  width: 100px;
  font-size: 20px;
 
  
}
.title2 {
  position: relative;
  color: #fff;
  left: 70%;
  width: 150px;
  font-size: 20px;
  
}
.title3 {
  position: relative;
  color: #fff;
  left: 115%;
  width: 100px;
  font-size: 20px;
 
}
.title4 {
  position: relative;
  color: #fff;
  left: 165%;
  width: 100px;
  font-size: 20px;
  
}
