h1 {
    font-size: 53px;
    color: #008d00;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
}

.text-zone {
    position: absolute;
    left: 10%;
    top: 10%;
    /* transform: translateY(-50%); */
    width: 88%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

}

.project-container {

    height: 400px;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.projectImages{
    height: 300px;
    width: 400px;
}